
<div class="dashboard gradient-bg">
    <div class="dashboard-content">
      <!-- render v-nav -->
      <div class="container">
        <h1 class="text-white">Your Connections</h1>
        <div class="connection-cards">
          <% @connections.each do |c| %>
            <div class="connection-card">
              <div class="connection-card-img personal">
              </div>
              <div class="connection-card-info general">
                <h2><%= "#{c.first_name} #{c.last_name}" %></h2>
                <h3>Connection</h3>
                <h3>Last Contact</h3>
                <h3>Tags</h3>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
