// Affini Styles

// Powder Blue - Alternative to white backgrounds
$light-blue: #FAFCFF;

// Orange - Personal Connection Highlight Colors
$orange: #FAAB62;

// Seafoam Green - To be used sparingly, also the logo color
$green: #76CEDB;

// Navy Blue - For dark backgrounds
$dark-blue: #3F4E73;

// Uhhh Blue - Professional Connection Highlight
$blue: #62B1FA;

// Fuschia - General Connection
$pink: #E559A5;



