
.dashboard {
  display: flex;
}

.dashboard-content {
  min-height: 100vh;
  height: 100%;
  width: 80%;
  position: relative;
  padding-left: 80px;
}

.welcome {
  min-height: 320px;
  padding: 32px;
}

.reminders {
  border-left: 1px solid white;
  margin-left: 32px;
}
