.dashboard {
  display: flex;
}

.dashboard-content {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  position: relative;
  padding-left: 320px;
}

.welcome {
  height: 320px;
  padding: 32px;
}
