.dashboard {
  display: flex;
}

.welcome {
  min-height: 320px;
  padding: 32px;
  p {
    margin-top: 16px;
  }
}

.reminders {
  border-left: 1px solid white;
  margin-left: 32px;
  a {
    color: $green;
    text-decoration: none;
    font-weight: bolder;
  }
}

.connection-due {
  padding: 8px 0;
}

.connection-due img {
  margin-left: 24px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

.connection-due p {
  margin-left: 16px;
  color: white;
}
