// Specific CSS for your home-page
.hero-section {
  height: 75vh;
  width: 100vw;
  background-color: grey;
}

.hero-content h1 {
  font-size: 64px;
  width: 640px;
}

.product-features {
  padding-top: 32px;
}

.feature {
  height: 400px;
  margin: 16px;
}

.upslant {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
