.onboard-title {

}

.top-connection-interface {
  padding-top: 16px;
  width: 64%;
  margin: 0 auto;
}

.top-connection-frequencies {
  margin-top: 32px;

  button {
    text-decoration: none !important;
    color: white;
    background: none!important;
    border: none;
    padding: 0!important;
    margin: 0!important;
    outline: none;
  }

  h2 {
    opacity: 0.7;
    margin-bottom: 30px !important;
    transition: ease-in-out .2s;
  }

  i {
    font-size: 40px;
  }

  .never-button {
    opacity: 0.7;
  }

  .never-icon {
    margin-top: 52px;
  }
}

.top-connection-frequencies h2:hover {
  opacity: 1;
  transition: ease-in-out .2s;
}

.top-connection-frequencies h2:after {
  display: block;
  content: '';
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  padding-bottom: 4px;
}

.top-connection-frequencies h2:hover:after { transform: scaleX(1); }
.top-connection-frequencies h2.fromRight:after{ transform-origin:100% 50%; }
.top-connection-frequencies h2.fromLeft:after{  transform-origin:  0% 50%; }

.top-connection-frequencies .fas {
  font-size: 24px;
}

