.top-connection-interface {
  padding-top: 16px;
  margin: 0 auto;
}

.top-connection-frequencies {
  margin-top: 32px;

  button {
    text-decoration: none !important;
    color: white;
    background: none!important;
    border: none;
    padding: 0!important;
    margin: 0!important;
    outline: none;
  }

  h2 {
    opacity: 0.7;
    margin-bottom: 30px !important;
    transition: ease-in-out .2s;
  }

  i {
    font-size: 40px;
  }

  .never-button {
    opacity: 0.7;
  }

  .never-icon {
    margin-top: 52px;
  }
}

.top-connection-frequencies h2:hover {
  opacity: 1;
  transition: ease-in-out .2s;
}

.top-connection-frequencies h2:after {
  display: block;
  content: '';
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  padding-bottom: 4px;
}

.top-connection-frequencies h2:hover:after { transform: scaleX(1); }
.top-connection-frequencies h2.fromRight:after{ transform-origin:100% 50%; }
.top-connection-frequencies h2.fromLeft:after{  transform-origin:  0% 50%; }

.top-connection-frequencies .fas {
  font-size: 24px;
}

.onboard-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.onboard-card {
  margin-right: 16px;
  margin-bottom: 16px;
  height: 400px;
  width: 240px;
  border-radius: 24px;
  box-shadow: 4, 4, 16px, rgba(0,0,0,1);
  overflow: hidden;
  a {
    text-decoration: none !important;
  }
  color: $pink;
}

.card-stack {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}


.card-stack .onboard-card:nth-child(2) {
  opacity: 1;
  z-index: 4;
  position: absolute;
  right: -72px;
}

.card-stack .onboard-card:nth-child(3) {
  opacity: .9;
  z-index: 3;
  position: absolute;
  filter: greyscale(5);
  animation-delay: .1s;
  left: -128px;
  transform: scale(0.9);
}

.card-stack .onboard-card:nth-child(4) {
  opacity: .8;
  z-index: 2;
  position: absolute;
  width: 240px;
  filter: grayscale(6);
  transform: scale(0.8);
  animation-delay: .2s;
  left: -80px;
}

.card-stack .onboard-card:nth-child(5) {
  opacity: 0;
  position: absolute;
  z-index:1;
}

