.namebox {
  width: 100%;
  height: 240px;
  align-items: center;

  .float66 {
  display: flex;
  }
}

.namebox-content {
  padding-left: 32px;
}

.tag-list li {
  display: inline;
}

// .show-content {

//   h2 {
//     color: white;
//     font-weight: bold;
//   }

//   h3 {
//     color: white;
//     margin-top: 16px;
//   }

//   a {
//     color: white;
//     font-size: 18px;
//   }
// }


.notes {
  height: 260px;
  margin-bottom: 8px;
  width: 90%;
}

.checkins {
  margin-top: 32px;
}

.checkinbox {
  width: 90%;
  height: 64px;
  margin: 8px 0 8px;
}

.faded {
  opacity: 0.5;
}

.glancebox {
  height: 420px;
  width: 100%;
  padding: 32px;
}



.text-btn {
  padding-right: 80px;
}
