.namebox {
  width: 100%;
  height: 240px;
  align-items: center;
}

// .show-content {

//   h2 {
//     color: white;
//     font-weight: bold;
//   }

//   h3 {
//     color: white;
//     margin-top: 16px;
//   }

//   a {
//     color: white;
//     font-size: 18px;
//   }
// }


.notes {
  height: 260px;
  margin-bottom: 8px;
  width: 90%;
}

.checkinbox {
  width: 90%;
  height: 64px;
  margin: 8px 0 8px;
}

.faded {
  opacity: 0.5;
}

.glancebox {
  height: 420px;
  width: 100%;
}
