.namebox {
  width: 100%;
  height: 240px;
  align-items: center;
  margin-top: 16px;
  .float66 {
  display: flex;
  }
}

.namebox-content {
  padding-right: 32px;
  ul {
    list-style: none;
  }
}

.tag-list p {
  display: inline;
}

.notes {
  height: 260px;
  margin-bottom: 8px;
  width: 90%;
}

.checkins {
  margin-top: 24px;
}

.checkinbox {
  width: 90%;
  height: 32px;
  margin: 8px 0 8px;
}

.faded {
  opacity: 0.5;
}

.glancebox {
  height: 80%;
  width: 100%;
  padding: 32px;
}


.text-btn {
  padding-right: 80px;
}
