/* Utility Classes go here! */

.shadows { box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1); }
.round { border-radius: 24px; }
.list-none { list-style-type: none; }
.breadcrumbs { margin: 24px 0; }
.show-left {
  padding-right: 32px;
}
// text styles
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-white { color: white; }


// positioning
.relative { position: relative; }
.absolute { position: absolute; }

// z-index
.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }

// reusable classes
.inner { max-width: 1200px; margin: 0 auto; padding: 0 30px; }
.text-col {width: 100%; max-width: 880px; margin: 0 auto;}
.hidden, .none, .hide { display: none; }
.invisible {visibility: hidden; }

// need to clear floats instead of contain them? use this below.
.clear, .clear-both { clear: both; }

// hiding from Maxime. <(^-^<) He'll never find me here! (>^-^)> ~*DaCSSBoiz*~

// floats from our friends at T+T - makes sizing and  responsive design easy!
.float20 { float: left; width: 20%;}
.float25 { float: left; width: 25%;}
.float33 { float: left; width: 33.3333%;}
.float50 { float: left; width: 50%;}
.float66 { float: left; width: 66.6667%;}
.float75 { float: left; width: 75%;}
.float80 { float: left; width: 80%;}
.float100 { float: left; width: 100%; }
.flex {display: flex;}
.fl-align-center {align-items: center;}
.fl-wrap {flex-wrap: wrap;}
.flex33 {width:33.33%}
.flex50 {width:50%}
.flex66 {width: 66.66%;}
.fl-reverse {flex-direction: row-reverse;}

// content backgrounds
.gradient-bg { background: linear-gradient(156deg, rgba(139,198,225,1) 0%, rgba(156,141,188,1) 75%, rgba(171,92,155,1) 100%); }
.content { min-height: 100vh; height: 100%; width: 66%; position: relative; padding-top: 40px; margin-left: 320px; }

//spacing
.split { display: flex; margin-top: 32px; }
.section { background-color: $light-blue; padding: 32px; }
.breadcrumbs a { text-decoration: none; color: white; }
.dark-bg { background-color: $dark-blue; }
.spaced-header { margin: 16px 0 16px; }
.full-height { min-height: 100vh; }
.margin-auto { margin: 0 auto; }

body {
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  height: 100%;
  width: 100%;
}
