/* Utility Classes go here! */

.shadows { box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1); }
.round { border-radius: 24px; }

// buttons


// text styles
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }


// positioning
.relative { position: relative; }
.absolute { position: absolute; }

// z-index
.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }

// reusable classes
.inner { max-width: 1200px; margin: 0 auto; padding: 0 30px; }
.text-col {width: 100%; max-width: 880px; margin: 0 auto;}
.hidden, .none, .hide { display: none; }
.invisible {visibility: hidden; }

// need to clear floats instead of contain them? use this below.
.clear, .clear-both { clear: both; }

// floats from our friends at T+T - makes responsive easy!
.float20 { float: left; width: 20%;}
.float25 { float: left; width: 25%;}
.float33 { float: left; width: 33.3333%;}
.float50 { float: left; width: 50%;}
.float66 { float: left; width: 66.6667%;}
.float75 { float: left; width: 75%;}
.float80 { float: left; width: 80%;}
.float100 { float: left; width: 100%; }
.inline20 { display: inline-block; width: 20%; margin-right: -4px; }
.inline25 { display: inline-block; width: 25%; margin-right: -4px; }
.inline33 { display: inline-block; width: 33.3333%; margin-right: -4px; }
.inline50 { display: inline-block; width: 50%; margin-right: -4px; }
.inline66 { display: inline-block; width: 66.6666%; margin-right: -4px; }
.inline-top {vertical-align: top;}
.inline-middle {vertical-align: middle;;}
.flex {display: flex;}
.fl-align-center {align-items: center;}
.fl-wrap {flex-wrap: wrap;}
.flex33 {width:33.33%}
.flex50 {width:50%}
.flex66 {width: 66.66%;}
.fl-reverse {flex-direction: row-reverse;}

// content backgrounds

.gradient-bg {
  background: rgb(120,213,255);
  background: -webkit-linear-gradient(66deg, rgba(120,213,255,1) 0%, rgba(177,71,141,1) 100%);
  background: -o-linear-gradient(66deg, rgba(120,213,255,1) 0%, rgba(177,71,141,1) 100%);
  background: linear-gradient(156deg, rgba(120,213,255,1) 0%, rgba(177,71,141,1) 100%);
}

.content { min-height: 100vh; height: 100%; width: 75%; position: relative; padding-top: 80px; margin-left: 320px;
}


//spacing

.split {
  display: flex;
  margin-top: 40px;
}

.pt100 {
  padding-top: 100px;
}

.section {
  background-color: $light-blue;
  padding: 32px;
}

.breadcrumbs a {
  text-decoration: none;
  color: white;
}

.dark-bg {
  background-color: $dark-blue;
}

.spaced-header {
  margin: 16px 0 16px;
}
