<div class="top-connection-frequencies">
  <%= link_to onboard_edit_connection_path(connection, target: 'weekly'), class: 'schedule-btn' do %>
    <h2>Weekly <i class="fas fa-calendar-alt"></i></h2>
  <% end %>
  <%= link_to onboard_edit_connection_path(connection, target: 'monthly') do %>
    <h2>Monthly <i class="fas fa-calendar-week"></i></h2>
  <% end %>
  <%= link_to onboard_edit_connection_path(connection, target: 'quarterly') do %>
    <h2>Quarterly <i class="fas fa-calendar-minus"></i></h2>
  <% end %>
  <%= link_to onboard_edit_connection_path(connection, target: 'yearly') do %>
    <h2>Yearly <i class="fas fa-calendar-day"></i></h2>
  <% end %>
</div>
