<div class="d-flex">
  <div class="d-flex checkin-card section round shadow">
    <div class="right checkin-card-content">
      <ul>
        <li>
          <%= link_to(connection_path(connection)) do %>
            <%= connection_image_tag(connection, { height: 60, width: 60, crop: :scale, class: "checkin-av" } ) %>
          <% end %>
        </li>
      </ul>
       <p><%= link_to full_name(connection), connection_path(connection) %> <%= checkin_deadline_display(connection)%></p>
    </div>
  </div>
</div>
