<header class="text-right text-white d-flex px-5 align-items-center justify-content-between">
  <h1 class="text-white">affini</h1>
  <%= link_to "Log in", new_user_session_path, class: "btn-white" %>
</header>
