<header class="text-right text-white d-flex pr-5">
    <%= render "shared/searchbar" %>
    <ul>
      <li><%= render "shared/usermodal" %></li>
      <li><%= link_to "Edit your profile", "#userModal", "data-toggle" => "modal", class: "text-white" %></li>
    </ul>
</header>
