<header class="text-right text-white d-flex pr-5">
    <%= render "shared/searchbar" %>
    <ul>
      <li><%= link_to "Connections", connections_path %></li>
      <li><%= link_to "Connection Show", connection_path(1) %></li>
    </ul>
</header>
