<header class="text-right text-white d-flex px-5 align-items-center justify-content-between">
  <%= link_to home_path do %>
    <h1 class="text-white">affini</h1>
  <% end %>
  <% if local_assigns[:show_login] %>
    <% if user_signed_in? %>
      <%= link_to "Dashboard", root_path, class: "btn-white" %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn-white" %>
    <% end %>
  <% end %>
</header>
