<div class="dashboard">
  <div class="v-nav shadows">
      <div class="nav-content">
        <h1 class="logo">affini</h1>
        <ul>
          <li><a href="">Dashboard</a></li>
          <li><a href="#">Connections</a></li>
          <li><a href="#">Activities</a></li>
        </ul>
      </div>
  </div>
  <div class="dashboard-content">
    <div class="float50 round welcome shadows section">
      test
    </div>
  </div>

</div>
