<div class="dashboard gradient-bg">
  <%= render "/shared/vnav" %>
  <div class="content">
    <div class="breadcrumbs">
      <a href="#">Dashboard</a>
    </div>
    <h1 style="color:white;">Howdy, <%=@user.first_name %>!</h1>
    <%= render "shared/usermodal" %>
    <%= link_to "Edit your profile", "#userModal", "data-toggle" => "modal", class: "text-white" %>
    <div class="d-flex">
      <div class="float66 d-flex welcome section round shadow">
        <div class="float66 right order2">
          <h2>You've checked-in with 7 friends this week!</h2>
          <p>Chickens don't clap! I'd rather be dead in California than alive in Arizona. The only person that gets Lucille this excited is Gene. ♪♪ And the thought of rubbin' you is getting so exciting. Sky rockets in flight! Afternoon delight! ♪♪ Why are you squeezing me with your body? It's a hug, Michael. I'm hugging you. </p>
        </div>
      </div>
      <div class="float33 reminders">
        <p class="text-white pl-3">Here are some connections you should schedule a check-in with.</p>
        <ul>
          <li class="text-white">one</li>
          <li class="text-white">one</li>
          <li class="text-white">one</li>
          <li class="text-white">one</li>
          <li class="text-white">one</li>
          <li class="text-white">one</li>
          <li class="text-white">one</li>
          <li class="text-white">one</li>
        </ul>
      </div>
    </div>
    <div class="upcoming-activities">
      <h3 class="text-white spaced-header">Upcoming Activities</h2>
      <div class="show-left float66 d-flex flex-column">
        <div class="d-flex">
          <div class="d-flex checkin-card section round shadow">
            <div class="right">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex checkin-card section round shadow">
            <div class="right">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex checkin-card section round shadow">
            <div class="right">
            </div>
          </div>
        </div>
        <h3 class="text-white spaced-header">Past Activities</h2>
        <div class="d-flex">
          <div class="d-flex checkin-card faded section round shadow">
            <div class="right">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex checkin-card faded section round shadow">
            <div class="right">
            </div>
          </div>
        </div>
         <div class="d-flex">
          <div class="d-flex checkin-card faded section round shadow">
            <div class="right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
