<div class="dashboard gradient-bg">
  <div class="v-nav shadows">
      <div class="nav-content">
        <h1 class="logo">affini</h1>
        <ul>
          <li><a href="">Dashboard</a></li>
          <li><a href="#">Connections</a></li>
          <li><a href="#">Activities</a></li>
        </ul>
      </div>
  </div>
  <div class="dashboard-content">
    <header class="text-right">
      <a href="#" style="color: white; text-decoration: none; padding-right: 128px; font-size: 16px; margin-top: 16px;">Don Tillman</a>
    </header>
    <div class="pt100">
      <div class="breadcrumbs">
        <a href="#">Dashboard</a>
      </div>
      <h1 style="color:white;">Howdy, Don!</h1>
      <div class="float75 d-flex round shadow welcome section">
        <div class="float66  right order2">
          <h2>You've checked-in with 7 friends this week!</h2>
          <p>Chickens don't clap! I'd rather be dead in California than alive in Arizona. The only person that gets Lucille this excited is Gene. ♪♪ And the thought of rubbin' you is getting so exciting. Sky rockets in flight! Afternoon delight! ♪♪ Why are you squeezing me with your body? It's a hug, Michael. I'm hugging you. </p>
        </div>
        <div class="float33 left order1">

        </div>
      </div>

    </div>
  </div>
</div>
