<% if connection %>
  <div class="top-connection-interface">
    <%= render 'connections/onboard/left_form', connection: connection %>
    <div class="slide-in-blurred-bottom">
      <%= link_to connection_path(connection) do %>
        <%= render 'shared/onboard_card', connection: connection %>
      <% end %>
    </div>
    <%= render 'connections/onboard/right_form', connection: connection %>
  </div>
<% end %>
