.connection-card {
  margin-right: 16px;
  margin-bottom: 16px;
  height: 400px;
  width: 240px;
  border-radius: 24px;
  box-shadow: 4, 4, 16px, rgba(0,0,0,1);
  overflow: hidden;
  a {
    text-decoration: none !important;
  }
}

.connection-card-img-onboard {
  height: 50%;
  background-size: cover;
}

.connection-card-av-background {
  height: 25%;
  justify-content: center;
  display: flex;
  position: relative;
  background: linear-gradient(156deg, rgba(139,198,225,1) 0%, rgba(156,141,188,1) 75%, rgba(171,92,155,1) 100%);
}

.connection-card-av {
  position: absolute;
  bottom: -60px;
  z-index: 1;
}

.light-faded {
  opacity: 0.8;
}

.onboard-info {
  padding-top: 8px !important;
  h2 {
    font-size: 40px !important;
  }
}

.connection-card-info {
  height: 75%;
  color: black;
  padding: 16px;
  padding-top: 56px;

  h2 {
    font-weight: bold;
    margin-top: 8px;
    font-size: 24px;
    color: $green;
    text-align: center;
  }

  h3 {
    margin-top: 16px;
    font-size: 14px;
  }
}

.badge-primary {
  color: white !important;
}

.check-in-link {
  z-index: 4;
}

.general {
  background-color: $light-blue;
}

.personal {
  background-color: $orange;
}

.professional {
  background-color: $blue;
}

.checkin-card {
  width: 90%;
  height: 54px;
  background-color: $light-blue;
  display: flex;
  align-items: center;
  margin: 8px 0 8px;
  border-radius: 16px;
  box-shadow: 4, 4, 16px, rgba(0,0,0,0.1);
  color: #616161;
}

.checkin-card-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  p {
    padding-top: 12px;
  }
}


.sliding-avatars {
  margin-left: -20px;
  padding-top: 8px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    -webkit-transition: .2s ease;
    transition: .2s ease;
    a {
      text-decoration: none;
    }
  }
  li:nth-child(n+2) { margin-left: -40px; }
  ul:hover li:nth-child(n+2) {
     margin-left: -25px;
  }
}

.connection-card-info {
  position: relative;
}

.connection-tags {
  position: absolute;
  bottom: 0;
}

.checkin-av {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.checkin-placeholder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.checkin-card-relative {
  position: relative;
}

// .modal-overlay-link {
//   // width: 65%;
//   // height: 64px;
//   background-color: black;
//   opacity: 0;
//   position: absolute;
//   left: 170px;
//   bottom: 8px;
//   border-radius: 16px;
//   z-index: 2;
// }

.hidden-link {
  position: aboslute;
  height: 100%;
  width: 100%;
}

.checkin-card-relative {
  transition: 0.1s;
}

.checkin-card-relative:hover {
  transform: scale(1.01);
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    } 100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    }
  }
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  } 100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

  // animation-name: slide-out-top;
  // animation-duration: 1.3s;
  // iteration-count: 1;
  // animation--direction: normal;

.rating {
  position: absolute;
  bottom: -5px;
  right:  94px;
  font-size: 10px;
}
