.fc-toolbar h2 {
  color: white;
}

.fc-day-number {
  color: white;
}

.fc-day-header {
  color: #2C3E50;
}

.fc-today {
  background: #c970a0 !important;
  font-weight: bold;
}

.fc-day-top {
  max-width: 100%;
}
