header {
  position: absolute;
  width: 100%;
  padding-top: 24px;
  ul {
  list-style-type: none;
  }
  li {
    display: inline;
    padding: 32px;
    color: white;
    text-decoration: none;
  }
}
