header {
  margin-right: 128px;
  margin-top: 16px;
  ul {
  list-style-type: none;
  }
  li {
    display: inline;
    padding: 32px;
  }
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  padding: 32px;
}
