header {
  position: absolute;
  width: 100%;
  padding-top: 24px;
  justify-content: flex-end;
  align-items: center;
  ul {
  list-style-type: none;
  }
  li {
    display: inline;
    padding: 16px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
