.v-nav {
  background-color: $light-blue;
  // border-radius: 0 24px 24px 0;
  width: 240px !important;
  height: 100vh;
  padding-left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
}

.logo {
  color: $green;
  padding-top: 64px;
  padding-bottom: 24px;
  padding-left: 64px;
}

.nav-content ul {
  padding-inline-start: 0px;
  border-bottom-style: none;
  padding-top: 16px;
}

.nav-content li {
  padding: 16px 0;
  color: #CDCDCD;
  margin: 0;
  list-style: none;
  width: 100%;
  padding-left: 64px;
}
.nav-content li:active {
  padding-top: 16px;
}

.nav-content li:hover {
  background-color: $green;
  opacity: .6;
  a {
    color: #3F4E73;
  }
}

.nav-content a {
  text-decoration: none;
  color: #CDCDCD;
}

